<div mat-dialog-title>
    <h1>Contact form</h1>
</div>
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field class="full-width" appearance="outline">

                <mat-label>
                    Name
                </mat-label>
                <input type="text" matInput formControlName="name">

            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="full-width" appearance="outline">

                <mat-label>
                    email
                </mat-label>
                <input type="text" matInput formControlName="email">

            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="full-width" appearance="outline">

                <mat-label>
                    phone
                </mat-label>
                <input type="text" matInput formControlName="phone">

            </mat-form-field>
        </div>
       
    </div>

    <div class="action" mat-dialog-actions>
        <button mat-raised-button [mat-dialog-close]="false"
            type="button">
            Cancel
        </button>

        <button [disabled]="!contactForm.valid" mat-raised-button [mat-dialog-close]="false"
            type="submit" color="primary">
            {{getTitle()}}
    </button>
    </div>
</form>